--model_path=TinyLlama/TinyLlama-1.1B-Chat-v1.0
--data_path=data/nyc_taxi_desc
--temporal_emb_type=positional
--embedding_mode=all
--pooling_mode=mean
--quant_type=4bit
--peft_type=lora
--lora_rank=16
--lora_modules
q_proj
k_proj
v_proj
o_proj
--train_batch_size=8
--eval_batch_size=16
--learning_rate=4e-4
--warmup_ratio=0.02
--num_epochs=25
--device=cuda
--seed=0